<%- include ("partials/header") %>
<!-- include header template -->
<h1> home page</h1>

<img src="https://i.pinimg.com/originals/79/25/f9/7925f93c22693f37f722892ad52ca1e4.jpg">

<%- include ("partials/footer") %>
